/* Division between navbar and body */
.divider {
    background-color: black;
    padding: 0.2%;
    margin: 0%;
}

/* Set the colour of the calendar row(s) who's time < current time */
.past {
    background-color: #d3d3d34d;
    color: white;
}

/* Set the colour of the calendar row who's time = current time */
.present {
    background-color: #ce1107;
    color: white;
}

/* Set the colour of the calendar row(s) who's time > current time */
.future {
    background-color: #14ec14;
    color: black;
}